
<% if(employees.length === 0) {%>
<h2>There are no employees yet!</h2>
<a href="/employees/new">Create one now!</a>
<a href="/employees/edit">Edit one now!</a>

<% } else { %>
<section class="column-center">
  <div class="centerbox">
    <h1>Employees</h1>

    <table class="employee-table">
      <tr>
        <th>Name</th>
        <th>Role</th>
      </tr>
      <tr>
        <% employees.forEach((employee)=>{ %> <% if(employee.user == userId){ %>

        <td><a href="/employees/<%=employee._id%>"><%= employee.name %></a></td>
        
        <td><%=employee.role%></td>
      </tr>
      <% } %> <% }) %><% } %>
    </table>

  </div>
  
</section>
<%- include("../partials/nav") %>


