<%- include("../partials/nav") %>
<section class="column-center">
  <div class="centerbox">
    <h1>Create A New Profile</h1>
    <form action="/employees" method="post">
      <input type="text" name="name" placeholder="Name" /><br />
      <input type="number" name="age" placeholder="Age" /><br />
      <input type="text" name="role" placeholder="Role" /><br />
      <input type="number" name="salary" placeholder="Salary" /><br />
      <input
        type="number"
        name="companyID"
        value="<%=currentUser.companyID%>"
        placeholder="Company ID"
        readonly="readonly"
      /><br />
      <button type="submit" class="button">Submit</button>
    </form>
  </div>
  
</section>



