<%- include("../partials/nav") %>

<section class="column-center">
  <div class="centerbox">
    <h1>Employee FACTORY</h1>
    <form action="/employees" method="post">
      <input type="text" name="name" placeholder="Name" /><br />
      <input type="number" name="age" placeholder="Age" /><br />
      <input type="text" name="role" placeholder="Role" /><br />
      <input type="number" name="salary" placeholder="Salary" /><br />
      <input
        type="number"
        name="companyID"
        value="<%=currentUser.companyID%>"
        placeholder="Company ID"
      /><br />
      <button type="submit">Submit</button>
    </form>
    <a href="/employees"><button>Go back to list of employees</button></a>
  </div>
</section>

<%- include("../partials/nav") %>
