<%- include("../partials/nav") %>

<div class="content flow">
  <div class="title-box">
    <h1 class="title">New Employee</h1>
  </div>
  
  <div class="grid">

    <div class="col">
      <form action="/employees" method="post">
        <!-- <label for="name">First</label> -->
        <input type="text" name="name" placeholder="First"/><br>
        <!-- <label for="lastname">Last</label> -->
        <input type="text" name="lastname" placeholder="Last"/><br>
        <!-- <label for="age">Age</label> -->
        <input type="number" name="age" placeholder="Age"/><br>
        <!-- <label for="role">Role</label> -->
        <input type="text" name="role" placeholder="Role"/><br>
        <!-- <label for="salary">Salary</label> -->
        <input type="number" name="salary" placeholder="Salary"/><br>
        <!-- <label for="companyID">Company ID</label> -->
        <input type="number" name="companyID" value="<%=currentUser.companyID%>" placeholder="Company ID" readonly="readonly"/><br>
        <button type="submit" class="button">Submit</button>
     </form>
    </div>

  </div>
</div>

<%- include("../partials/footer") %>
