* {
  box-sizing: border-box;
}

button {
  color:white;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
input {
height: 1.5rem;
width: 200px;
}
.button {
  border: 2px solid black;
  background-color: grey;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}

.button:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
}
.footer {
  align-items: center;
  background-color: #2B2D2E;
  color: white;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}


body {
  min-height: 100vh;
  font-size: 1.125em;
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: antiquewhite;
  /* margin:0; */
}
.hrStar{
  font-size: 50px; 
  line-height: 50px;
  position: fixed;
}
.header{
  top: 3vw; 
  position: absolute; 
  left: 3vw; 
  z-index: 0;
} 
.title {
  flex: 1 1 initial;
  text-align:center;
  font-style: italic;
  font-size: 40px;
  font-weight: 100;
  background: grey;
  color:black;
}

.content {
  width: 70vw;
  margin: 3rem auto;
  padding: 2em;
  background: antiquewhite;
}

.col {
  display: flex;
  padding: 3em;
  background: grey;
  padding: 1rem;
  justify-content: center;
  z-index: 2; 
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.grid > * {
  flex: 1 1 15em;
  gap: 1em;
}

p{
  line-height: 1em;
  margin:0;
  font-size:16px;
  font-family: monospace;
}
.content a{
  text-decoration: none;
  color: black;
}
.content a:hover{
  color: white;
}

