<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/style.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"/>

<title>Document</title>
</head>
<div class="header">
  <a class="hrStar" href="/">HR *"<br />STAR</a>
</div>

<section class="content flow">
    <div class="nav-box">
      <nav >
        <p><a href="/">Account Home</a></p>
        <p><a href="/employees" >Employee List</a></p>
        <p><a href="/employees/new">New Employee</a></p>
        <p><a href="/employees/forms" id="forms-link">Forms</a></p>
        <p><a href="/users/new">New User</a></p>
        <p><a href="/users">Users</a></p>
         <% if (isLoggedIn) { %>
        <p><a href="/users/logout">Logout</a></p>
        <% } else {%>
        <p><a href="/users/login">Login</a></p>
         <% } %>
      </nav>
    </div>
  </div>
  
  
</section>
  
</html>
