<%- include("partials/nav") %>

<section class="column-center">
  <div class="centerbox">
    <h1>Forms</h1>
    <ul>
      <% files.map(file => { %>
        <li>
          <a href="<%= file.url %>" target="_blank" id="form-link"><%= file.name %> Employees Compensation</a>
        </li>
      <% }) %>
    </ul>
  </div>
</section>
<%- include("./partials/footer") %>




