<%- include("partials/nav") %>



<div class="content flow">
  <div class="title-box">
    <h1 class="title">Forms</h1>
  </div>
  <div class="grid">
    <div class="col">
      <ul>
        <% files.map(file => { %>
        <li><a href="<%= file.url %>" target="_blank" id="form-link"><%= file.name %> Employees Compensation</a></li>
            <% }) %>
      </ul>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>




