<%- include("partials/nav") %>

<section class="column-center">
  <div class="centerbox">
    <h1>Forms</h1>
    <ul>
      <% files.map(file => { %>
        <li>
          <a href="<%= file.url %>"><%= file.name %> Employees Compensation</a>
          
          <button>append to employee file</button>
          <!-- <iframe src="file.url&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe> -->
        </li>
      <% }) %>
    </ul>
  </div>
</section>




