
<section class="column-center">
  <div class="centerbox">
    
    <% if(isLoggedIn){ %>
      <div id="welcomebanner">
        <h1>Welcome back <%= username %>!</h1>
      </div>
   
    
    <% } else { %>
      <div>
        <a class="border-button" href="/users/login">Please log in</a>
        <p>or</p>
        <a class="border-button" href="/users/new">Create an account</a>
      </div>
    
    <% } %>
  </div>
  <%- include("partials/nav") %>
</section>

