<%- include("partials/nav") %>
<section class="column-center">
  <div class="centerbox">
    <% if(isLoggedIn){ %>
    <h1>Welcome back <%= username %>!</h1>
    <a class="border-button" href="/users/logout">Log Out</a>
    <a class="border-button" href="/employees">View Employees</a>
    <a class="border-button" href="/employees/new">Create New Employee</a>
    <% } else { %>
    <a class="border-button" href="/users/login">Please log in</a>
    <a class="border-button" href="/users/new">Create an account</a>
    <% } %>
  </div>
</section>

<%- include("partials/footer") %>
