<%- include("partials/logo") %> 

<% if(isLoggedIn){ %>
  <%-include ("partials/nav")  %> 
  <div class="content">
    <div class="title-box">
      <h1 class="title">Welcome back <%= username %>!</h1>
    </div>
   
  </div>
  

  <% } else { %>
    
      <div class="content flow">

        <div class="title-box">
          <h1 class="title">HR Software to make your paperwork easier.</h1>
        </div>  
        <div class="grid">
          <div class="col">
            <p>HRStar makes it easy to store all hr and employee data all in one place.</p>
          </div>
          <div class="col">
          <a href="/users/login">Please log in</a>
          <p>or</p>
          <a href="/users/new">Create an account</a>
          </div>
        </div>
      </div>
    </div>

  
<% } %> <%- include("partials/footer") %>
