<%- include ("./partials/logo.ejs")  %> 

<div class="content">
  <div class="title-box">
    <h1 class="title" >Login</h1>
  </div>

  <div class="grid">
    <div class="col">
      <form action="/users/login" method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <br />
        <input type="password" name="password" placeholder="Password" />
        <br />
        <button type="submit" class="button">Login</button>
        <a href="/users/new"><button class="button">Create an account</button></a>
      </form>
    </div>
  </div>

</div>

<%- include("./partials/footer") %>
