<%- include("partials/nav") %>

<section class="column-center">
  <div class="centerbox">
    <form action="/users/login" method="POST">
      <br /><br /><br />
      <input type="text" name="username" placeholder="Username" required />
      <br /><br />
      <input type="password" name="password" placeholder="Password" />
      <br /><br />
      <a href="/users/new"></a>
      <button>Create an account</button>
      <button type="submit">Login</button>
    </form>
  </div>
</section>

<%- include("partials/footer") %>
