/* *{
  font-family: monospace;
} */
body {
  min-height: 100vh;
  font-size: 1.125em;
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: antiquewhite;
  /* margin:0; */
}

.hrStar{
  font-size: 50px; 
  line-height: 50px;
  position: fixed;
}
.header{
  top: 3vw; 
  position: absolute; 
  left: 3vw; 
  z-index: 0;
} 
.nav{
  position: fixed;
}
.nav-box{
  position: fixed;
  text-align: right;
  top: 3vw; 
  right: 3vw; 
  z-index: 0;
}
.title {
  
  flex: 1 1 initial;
  text-align:center;
  font-style: italic;
  font-size: 40px;
  font-weight: 100;
  background: grey;
  color:black;
}

.content {
  width: 70vw;
  margin: 3rem auto;
  padding: 2em;
  background: antiquewhite;
}

.col {
  display: flex;
  padding: 3em;
  background: grey;
  padding: 1rem;
  justify-content: center;
  z-index: 2; 
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.grid > * {
  flex: 1 1 15em;
  gap: 1em;
}

p,label{
  line-height: 1em;
  margin:0;
  font-size:16px;
  font-family: monospace;
}

.content a{
  font-family: monospace;
  text-decoration: none;
  color: black;
}
.content a:hover{
  color: white;
}
form{
  text-align: right;
}
input{
  font-family:monospace;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  bottom: 0;
}
