*{
  margin:0;
  padding: 0;
  font-family:'Roboto',sans-serif;
  line-height: 1.5rem;
  font-family: 'Merriweather', serif;
}
body {
  background-image: url("./images/pexels-edmond-dantÃ¨s-4344860.jpg");
  background-size: cover;
  background-position: center;
}
/* #welcomebanner{
  padding: 6rem;
  width: 5rem;
  border-radius: 20rem;
  background-image: url("../images/cloudPortrait.jpeg");
} */
/* .navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
} */
/* .navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}
.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}
.navbar ul li a:hover {
  color:skyblue;
} */
#nav-divs{
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  height: 60px;
  background: rgba(0,0,0,0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
}
a{
  color: whitesmoke;
  cursor: grab;
}
a:hover{
  color: black;
}

.footer-bar {
  background-color: rgb(0, 140, 255);
  height: 20px;
  text-align: center;

}
.centerbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
  color: #fff;
  background: rgb(85, 85, 85, .5);
  height: 20rem;
  width: 60vw;
  background-color: black;
  opacity: .8;
  background-position: center center;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column-center {
  margin: 6rem;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: row;
}

.border-button{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  }

  .border-button:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
  }

  .border-button:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
  }

  button {
    color:white;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
input {
  height: 1.5rem;
}

.employee-table, .user-table, .userAccount-table, .employeeEdit-table{
  height: 60%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: rgb(29, 29, 29);
  background-color: rgb(255, 255, 255, .5);
  text-align: left;
  overflow-y: scroll;
}

 

a {
  text-decoration: none;
}
th, td {
  /* display: block; */
  padding-inline: 1rem;
  border: rgb(204, 4, 4);
}

.button {
  border: 2px solid black;
  background-color: grey;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}

.button:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
}