<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<<<<<<< HEAD
    <%- include ('../partials/samNavbar.ejs') %>

    <div class="container">
        <section class="column-center">
            <div class="centerbox">
                <h1>Form to register as a new user</h1>
                <form action="/users" method="POST">
                    <label for="username">Username:</label>
                    <input type="text" name="username" required>
                    <br><br><br>
                    <label for="password">Password:</label>
                    <input type="password" name="password">
                    <br><br><br>
                    <button type="submit">Register</button>
                </form>
               
            </div>
        </section>
    </div>


    
=======
    <h1>Form to register as a new user</h1>
    <form action="/users" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br><br><br>
        <label for="companyID">Company ID:</label>
        <input type="text" name="companyID">
        <br><br><br>
        <button type="submit">Register</button>
    </form>
>>>>>>> main
</body>
</html>