<%- include("../partials/nav") %>
<section class="column-center">
  <div class="centerbox">
    <h1>New User Registration</h1>
    <form action="/users" method="POST">
      <input type="text" name="username" placeholder="Username" required />
      <input type="password" name="password" placeholder="Password" />
      <input type="number" name="companyID" placeholder="Company ID" />
      <br /><br />
      <button type="submit" class="button">Register</button>
    </form>
  </div>
  
</section>

<%- include("../partials/footer") %>