<%- include("../partials/nav") %>

<div class="content flow">

  <div class="title-box">
    <h1 class="title">New User</h1>
  </div>
  
  
  <div class="grid">
    <div class="col">
      <form action="/users" method="POST">
        <input type="text" name="username" placeholder="Username" required/><br>
        <input type="password" name="password" placeholder="Password"/><br>
        <input type="text" name="companyID" placeholder="Company ID"/><br>
        <button type="submit" class="button">Register</button>
      </form>
    </div>
  </div>
  
</div>

<%- include("../partials/footer") %>